.decision {
  padding-top: 90px;
  background-color: $bg-blue;
  color: $white;
}

.decision__wrapper {
  display: flex;
  flex-wrap: wrap;

  &--column {
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 100px;
  }

  &--main {
    flex-wrap: nowrap;
  }
}

.decision__img {
  max-width: none;
}

.decision__text {
  padding: 0;
  margin: 0;
  font-family: "DINpro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &--colored {
    padding-right: 200px;
    opacity: 0.5;
  }
}

.decision__list {
  list-style: none;
  counter-reset: decision-counter;
  padding: 0;
  margin-bottom: 158px;
}

.decision__item {
  counter-increment: decision-counter;
  position: relative;
  padding-left: 58px;
  margin-bottom: 25px;
  font-family: "Pragmatica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  &::before {
    @include pseudo;
    content: counter(decision-counter);
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    padding-top: 5px;
    border-radius: 7px;
    background-color: #fb4073;
    display: inline-block;
    color: $white;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
  }
}

.decision__item:last-child {
  margin-bottom: 0;
}

.decision__video {
  width: 100%;
  height: 589px;
  margin-top: 20px;
  border-radius: 50px;
}
