.footer {
  padding-top: 80px;
  text-align: center;

  @media (min-width: 950px) {
    padding-top: 150px;
  }
}

.footer__card {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  min-height: 451px;
  padding: 15px 45px;
  background-color: $bg-blue;
  border-radius: 30px;

  @media (min-width: 950px) {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    min-height: 525px;
    padding: 40px 45px;
    padding-right: 415px;
  }
}

.footer__text {
  margin: 0;
  margin-bottom: auto;
  text-align: left;
  padding-right: 0;

  @include din-pro (34px, 34px, #fb4073);

  @media (min-width: 950px) {
    padding-right: 55px;

    @include din-pro (50px, 50px, #fb4073);
  }

  &--colored {
    padding: 0;
    color: #2789ff;
  }
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__contactlink {
  @include din-pro (50px, 50px, $white);
}

.footer__link {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 30px;
  float: right;
  padding-right: 15px;

  @include pragmatica (18px, 32px, #0627b0);

  @media (min-width: 950px) {
    float: none;
    padding-right: 0;

    @include pragmatica (18px, 22px, #0627b0);
  }
}
