.header {
  width: 100%;
  background-color: $bg-blue;
  color: $white;
  padding-top: 15px;
  padding-bottom: 70px;

  @media (min-width: 950px) {
    padding-bottom: 95px;
  }

  &--contacts {
    background-color: $white;
  }

  &--product {
    background-color: $white;
    color: #0627b0;
  }
}

.header__link {
  @include din-pro (18px, 27px, #0627b0);
  display: inline-block;
  margin-top: 30px;
}

.header__wraper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @media (min-width: 950px) {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--menu {
    position: relative;
    justify-content: space-between;
  }
}

.header__img {
  max-width: none;
  margin-right: 0;
  width: 167px;
  height: 261px;

  @media (min-width: 950px) {
    width: 316px;
    height: 512px;
    margin-right: 146px;
  }

  &--small {
    width: 173px;
    height: 39px;
    margin-right: 0;

    @media (min-width: 950px) {
      width: 247px;
      height: 56px;
      margin-right: 215px;
    }
  }
}

.header__text {
  padding: 0;

  @include din-pro (42px, 44px, $white);
  text-transform: uppercase;

  @media (min-width: 950px) {
    margin-top: 402px;

    @include din-pro (54px, 54px, $white);
  }

  &--colored {
    color: #2789ff;
  }

  &--err {
    margin: 0;
  }
}

.header__error {
  margin-top: auto;
}
