.languages__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 155px;
}

.languages__item {
  margin-right: 30px;
  font-family: "Pragmatica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;

  &--blue {
    color: #0627b0;
  }
}

.languages__item:last-child {
  margin-right: 0;
}
