.leaflet {
  width: 100%;
  min-height: 396px;
  border-radius: 30px;
  padding: 40px 20px;
  background: linear-gradient(to left bottom, transparent 50%, rgba(251, 64, 115, 1) 0) no-repeat 100% 0 / 80px 80px, linear-gradient(-135deg, transparent 56px, #fdbdc7 0);
}

.leaflet__text {
  @include din-pro (50px, 50px, #0627b0);
  padding-right: 40px;
  margin: 0;
  margin-bottom: 50px;

  &--colored {
    padding-right: 0;
    color: #2789ff;
  }
}
