.problematic {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 100px 40px 393px 40px;
}

.problematic__wrapper {
  max-width: 670px;
  width: 100%;
}

.problematic__heading {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  font-family: "DINpro", "Arial", sans-serif;
  letter-spacing: -0.02em;

  @include text (#FB4073, 90px, 76px);

  &--card {
    margin-bottom: 30px;
    text-transform: uppercase;

    @include text (#0627B0,50px, 50px);
  }
}

.problematic__discription {
  text-transform: uppercase;
  margin: 0;
  font-family: "DINpro", "Arial", sans-serif;

  @include text (#2789FF,54px, 54px);
}

.problematic__card {
  position: absolute;
  left: 42px;
  width: 554px;
  height: 466px;
  background: #2789FF;
  border-radius: 30px;
  padding: 40px 30px 90px 42px;

  &--first {
    top: 0px;
    left: 0px;
  }

  &--second {
    background:#FDBDC7;
    top: 40px;
    left: 0px;
  }

  &--third {
    top: 80px;
    left: 0px;
  }
}

.problematic__list {
  list-style: disc;
  font-family: "Pragmatica", "Arial", sans-serif;

  @include text (#ffffff,24px, 28px, 400);
}

.problematic__item {
  margin-bottom: 16px;
}

.problematic__list-wrapper {
  padding-left: 20px;
}

.problematic__card-wrapper {
  min-width: 554px;
  position: relative;
  margin-right: 61px;
}


@media (max-width: 1160px) {
  .problematic {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 80px 15px;
}
.problematic__card-wrapper {
  min-height: 560px;
  margin-right: 0;
}

.problematic__wrapper {
  max-width: 100%;
  margin-bottom: 60px;
}
}
