@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/din-pro-condensed-medium.woff2") format("woff2"), url("../fonts/din-pro-condensed-medium.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pragmatica.woff2") format("woff2"), url("../fonts/Pragmatica.woff") format("woff");
}
